
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.box {
    background-color: #253A45;
    width: 40vw;
    padding: 2rem;
}

.box h1 {
    text-align: center;
}



.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.input-container label {
    margin-left: 0.5rem;
    margin-bottom: .3rem;
}


.input {
    width: 12rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #4D6573;
    margin-left: 0.3rem;
    margin-right: 3rem;
    color: white;
    outline: none;
}



@media screen and (max-width: 768px) {
    .box {
        width: 90vw;
    }

    .form-group {
        flex-direction: column;
    }

    .input-container {
        margin-bottom: 2rem;
    }
}




.btns-section {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
}

.btn-dark {
    margin-bottom: 1rem;
}
